<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.deal.connectors.tests">
 <uses-sdk android:minSdkVersion="36" android:targetSdkVersion="36" />
 <queries><package android:name="dev.deal.apps.todo" /><package android:name="dev.deal.apps.vehicle" /><package android:name="dev.deal.apps.calendar" /></queries>
 <application android:debuggable="true">
  <service android:name=".LateProviderService" android:exported="true" android:enabled="false"><intent-filter><action android:name="dev.deal.embedding.CAPABILITIES_V1" /></intent-filter></service>
 </application>
 <instrumentation android:name=".CallerInstrumentation" android:targetPackage="dev.deal.apps.todo" />
 <instrumentation android:name=".VehicleCallerInstrumentation" android:targetPackage="dev.deal.apps.vehicle" />
 <instrumentation android:name=".GenerationInstrumentation" android:targetPackage="dev.deal.apps.calendar" />
</manifest>
